#board {
  margin-top: 10px;
}

.box {
  border: 1px solid black;
  height: 140px;
  background-color: lightgrey;
}

.score {
  border: 1px solid black;
  height: 20px;
}

body {
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/a0/7b/3b/a07b3b57f071ef030835a694aaac1839.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  width: 100px;
  height: 30px;
}

.playerOne {
  background-image: url('https://cdn4.iconfinder.com/data/icons/geomicons/32/672366-x-128.png');
  background-repeat: no-repeat;
  background-position: center;
}

.playerTwo {
  background-image: url('https://cdn2.iconfinder.com/data/icons/font-awesome/1792/circle-o-128.png');
  background-repeat: no-repeat;
  background-position: center;
}

.win {
  background-color: darkgrey;
}

h1, h3 {
  font-family: 'Indie Flower';
  font-size: 40px;
  color: white;
  text-shadow:
}
