#board {
  margin-top: 10px;
}

.box {
  border: 1px solid black;
  height: 150px;
}

body {
  background: lightgrey;
}

button {
  border-top: 100px;
  padding-top: 10px;
  width: 100px;
  height: 30px;
}

.playerOne {
  background-color: red;
}

.playerTwo {
  background-color: blue;
}
