#board {
  margin-top: 10px;
}

.box {
  border: 1px solid black;
  height: 180px;
}

.score {
  border: 1px solid black;
  height: 20px;
}

body {
  background: lightgrey;
}

button {
  width: 100px;
  height: 30px;
}

.playerOne {
  background-image: url('https://cdn4.iconfinder.com/data/icons/geomicons/32/672366-x-128.png');
  background-repeat: no-repeat;
  background-position: center;
}

.playerTwo {
  background-image: url('https://cdn2.iconfinder.com/data/icons/font-awesome/1792/circle-o-128.png');
  background-repeat: no-repeat;
  background-position: center;
}

.win {
  background-color: purple;
}
